.container{
    width: 70%;
    margin: auto ;
    text-align: center;
}

.dice{
    text-align: center;
    display: inline-block;
}

body{
    background-color: black;
}
h1{
    margin:40px;
    font-family: 'Lobster',cursive;
    text-shadow: 5px 0 red;
    color: white;
    font-size: 7rem;

}

p{
    font-size: 2rem;
    color: red;
    font-family: 'Indie Flower',cursive;
}
img{
    width: 80%;
}

footer{
    text-align: center;
    margin-top: 5%;
    font-size: 2rem;
    color : whitesmoke;
    text-shadow: 1px 0 red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}